@value panel-width: 30rem;
@value content-radius: .2rem;

.minix-content-radius {
    border-top-left-radius: content-radius;
    border-top-right-radius: content-radius;
}


.container {
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
    min-height: 70vh;
}

.content {
    box-shadow: 0 0 .3rem #888;
    composes: flexDesign from '../../styles/mixin.css';
    flex-direction: column;
    width: panel-width;
    composes: minix-content-radius;
}

.header {
    width: 100%;
    composes: flexDesign from '../../styles/mixin.css';
    flex: 1;
    background-color: teal;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    composes: minix-content-radius;
}
.header h3 {
    padding: 1rem;
    margin: 0;
}

.body {
    composes: flexDesign from '../../styles/mixin.css';
}

.footer {
    composes: flexDesign from '../../styles/mixin.css';
    flex: 1;
}

.link {
    color: #000;
}

.to-login {
    padding: 1rem;
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
    transition: all .35s;
}

.to-login:hover {
    background-color: rgba(255, 255, 255, .5);
}

.to-login span {
    display: flex;
    color: #fff;
}

.to-login i {
    color: #fff;
    display: flex;
}
