.btn
    border none
    &.btn-lg
        padding .5rem 1rem
    &.btn-radius
        border-radius .2rem
    &.btn-submit
        background-color teal
        color #fff
        transition all .35s
        &:hover
            background darken(teal, 5%)
            transform scale(1.1)

