.form-container

    .form-group
        padding 1rem 0
        width 100%
        &.form-center
            text-align center
        .form-control
            width: 100%
            padding .5rem
            box-sizing border-box
        .radio-container
            background-color red
