
$fonts = Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif
$link-color = #fff

body
    font-family $fonts
    font-size 16px

a
    text-decoration none
    color $link-color
    &:visited
        color $link-color

