.container {
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
    flex-direction: column;
}

.hero {
    background-position: 50% 50%;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

.content {
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 2rem;
}
.paragraph {
    padding: 0 3rem;
    box-sizing: border-box;
    width: 100%;
}

.paragraph p {
    font-size: 18px;
    line-height: 1.5;
}

.extra {
    height: 2rem;
    width: 15rem;
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
    align-items: center;
    justify-content: space-around;
}

.opinion {
    composes: flexDesign from '../../styles/mixin.css';
    cursor: pointer;
    transition: all .35s ease;
}

.opinion.active {
    color: red;
}

.opinion .i {
    padding-right: .3rem;
}

