.item-container {
    composes: flexDesign from '../../styles/mixin.css';
    flex-direction: column;
    padding: .5rem;
    box-shadow: 0 0 .5rem #888;
    height: 10rem;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    margin-bottom: 1rem;
}

.item-container a {
    color: #fff;
}

.item-container a:visited {
    color: #fff;
}

.item-container:last-child {
    margin-bottom: 0;
}

.image {
    composes: flexDesign from '../../styles/mixin.css';
    flex: 3;
}

.title-container {
    composes: flexDesign from '../../styles/mixin.css';
    flex: 1
}

.extras {
    color: #e3e3e3;
    font-size: .7rem;
}
