.container {
    composes: flexDesign from '../../styles/mixin.css';
    padding: 0 0 0 2rem;
    flex: 1;
    flex-direction: column;
}

.li-item {
    font-size: 1rem;
    padding: .5rem 0;
    transition: all .35s;
}
.li-item:hover {
    transform: scale(1.2);
}

.li-item .link-item {
    color: #000;
}

.li-item:first-child {
    font-size: 1.3rem;
    color: red;
}
