@value colors: "../../styles/variables.css";
@value a-black, a-header-height from colors;

.header {
    composes: flexDesign from '../../styles/mixin.css';
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: a-black;
    height: a-header-height;
    color: #fff;
}

.header-bar {
    composes: flexDesign from '../../styles/mixin.css';
    composes: center from '../../styles/mixin.css';
}

.head {
    padding-left: 1rem;
}

.left {
    composes: header-bar;
    composes: hover from '../../styles/mixin.css';
    padding: 0 1rem;
}

